@using MySite.Entity.Models.PersonModel
@model PersonCreateOrEditModel


@{
    ViewData["Title"] = "Create";

}

<div>
    <partial name="Create" />
</div>
<hr />
<div>
    <partial name="_List" />
</div>



